* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    font-family: "Futura", "Arial", sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #c6edfc;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

figure {
    margin: 0;
}

footer {
    background-color: #1b1f24;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    text-align: center;
}

footer a {
    color: white;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.app .fretboard-container figure {
    display: none;
}

.app.show-fretboard .fretboard-container figure {
    display: block;
}

.system-view {
    flex: 1;
}

.fretboard-container {
    background-color: #1b1f24;
}

.fretboard-container .fretboard {
    max-width: 1100px;
    margin: 1rem auto 0 auto;
}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    background-color: #1b1f24;
    color: rgba(255, 255, 255, 0.8);
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

.controls-center {
    display: flex;
}

.controls label {
    font-weight: bold;
}

.controls label > * {
    margin-left: 0.5rem;
}

.controls h1 {
    font-size: 1rem;
    margin: 0;
}

.controls select,
.controls button {
    height: 1.75rem;
    padding: 0 0.25rem;
    border-radius: 0.25rem;
    border: none;
}

.controls button {
    padding: 0 0.5rem;
    background-color: #ff636c;
    color: white;
}

.controls button:hover {
    background-color: red;
}

.system-list {
    margin-right: 1rem;
}

.playback-tray {
    display: flex;
    align-items: center;
}

.playback-tray > *,
.controls form > * {
    margin-right: 0.5rem;
}

.system-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.system-view {
    padding: 1rem;
}

.show-fretboard .system-view > ul {
    display: grid;
    grid-template-columns: repeat(2, [col-start] 1fr);
    gap: 1rem 5rem;
}

.show-fretboard .system-view > ul > li {
    width: 100%;
}

.system-view > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.system-view > ul > li {
    max-width: 70vw;
    margin: 0 auto;
}

.show-fretboard .system-view h3 {
    margin: 0 0 1rem 0;
}
.system-view h3 {
    font-size: 1rem;
    margin: 0;
    text-align: center;
}

.show-fretboard .system-view > ul > li {
    margin-bottom: 0;
}

.system-view > ul > li {
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.voicing-group {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.voicing-group > li {
    flex: 1;
    text-align: center;
}

.voicing {
    padding: 0.5rem;
}

.voicing .inversion {
    font-size: 0.9rem;
}

.voicing.current {
    background-color: white;
    border-radius: 0.25rem;
}

@media screen and (max-width: 960px) {
    .system-view > ul {
        display: block;
    }
    .system-view > ul > li {
        width: 100%;
    }
    .controls label {
        display: flex;
        flex-direction: column;
    }
    .playback-tray,
    .controls-center form {
        display: flex;
        align-items: flex-end;
    }
    .controls label > * {
        margin: 0;
    }
    .playback-tray {
        margin-top: auto;
    }
}
